/* 전체 페이지 스타일 */
body {
    font-family: 'Playfair Display', serif;
    background-color: #F8E0E0;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F5A9A9;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* 네비게이션 메뉴 스타일 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li {
    color: #F78181;
}

/* 섹션 스타일 */
div[id^="section"] {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

div[id^="section"] p {
    max-width: 80%;
}

h2 {
    color: #333;
}

/* 이미지 스타일 */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* 문단 텍스트 스타일 */
p {
    font-size: 18px;
}

/* 링크 스타일 (Contact 섹션) */
#section3 {
    text-align: center;
}

#section3 > div {
    display: inline-block;
    vertical=align: top;
    margin: 20px;
}

#section3 omg {
    max-width: 100%;
    height: auto;
}
    
#section4 a {
    color: #007bff;
    text-decoration: none;
}

#section4 a:hover {
    text-decoration: underline;
}

#section5 {
    text-align: center;
    padding: 50px;
}

#section5 h2 {
    font=size: 28px;
    color: black;
}

#section5 p {
    font-size: 18px;
    color: black;
}
