/* 전체 페이지 스타일 */
body {
    font-family: 'Roboto Slab', serif;
    background-color: #F8E0E0;
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
}

/* 헤더 스타일 */
header {
    background-color: #F6CECE;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0; /* 화면 상단에 고정 */
    width: 100%; /* 화면 너비에 맞춤 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 (선택 사항) */
}

/* 네비게이션 메뉴 스타일 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li {
    color: #F78181;
    display: inline;
    margin-right: 20px;
}

/* 섹션 스타일 */
div[id^="section"] {
    height: 100%;
    background-color: #FBEFEF;
    padding: 50px;
    margin: 0px;
    border-radius: 10px;
    display: flex;
}

div[id^="section"] h2 {
    color: #333;
    margin: 0;
    margin-right: 20px;
}

div[id^="section"] p {
    max-width: 80%;
}

h2 {
    color: #333;
}

div ul li {
    font-family: 'Quicksand', sans-serif;
}

/* 이미지 스타일 */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* 문단 텍스트 스타일 */
p {
    font-size: 18px;
}

/* 링크 스타일 (Contact 섹션) */
#section1 {
    background-color: #FBEFEF;
    padding: 140px;
    display: flex;
    flex-direction: row; /* 가로 방향으로 요소 배치 */
    align-items: center; /* 세로 가운데 정렬 */
}

#section1 img {
    margin-right: 20px; /* 사진과 글 사이 간격 조절 */
}

#section1 p {
    max-width: 80%
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
}

#section2 {
    background-color: #CEE3F6;
    padding: 140px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#section2 img {
    margin-left: 70px; /* 사진과 글 사이 간격 조절 */
}

#section2 h2 {
    color: #333;
    margin: 0;
    margin-bottom: 20px;
}

#section3 {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #F7F8E0;
    padding: 140px;
}

#section3 h2 {
    font-size: 24px;
    color: #333;
    flex: 1;
}

#section3 div {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
    flex: 1;
    flex-direction: column;
}

#section3 img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    max-width: 100%;
    height: auto;
}

#section3 p {
    font-size: 18px;
    color: #777;
    margin-top: 10px;
}

#section4 {
    background-color: #E6F8E0; /* 예시로 연핑크색 배경을 지정 */
    padding: 140px;
}
    
#section4 a {
    color: #007bff;
    text-decoration: none;
}

#section5 {
    text-align: center;
    padding: 300px;
    background-color: #FFFFFF;
}

#section5 h2 {
    font-size: 28px;
    color: black;
}

#section5 p {
    font-size: 18px;
    color: black;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F5A9A9;
    color: black;
    text-decoration: none;
    border: none;
    botder-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #F78181;
}

.button1 {
    display: inline-block;
    padding: 40px 80px;
    background-color: #CED8F6;
    color: #2E64FE;
    text-decoration: none;
    border: none;
    botder-radius: 5px;
    cursor: pointer;
    font-size: 30px; 

.button1:hover {
    background-color: #A9BCF5;
}
