/* 기본 스타일 */
body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* 헤더 스타일 */
header {
    background-color: #F6CECE; /* 헤더 배경색 지정 */
    color: #000000; /* 글자 색상 지정 */
    text-align: center;
    padding: 20px;
}
